<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'blog/home_menu.css'%}">
    <title>首頁 | Django</title>
    
    <style>
    h1{
    position: absolute;
    left: 150px;
    top: 180px;
    font-size: 80px
    }
    h2{
    position: absolute;
    left: 150px;
    top: 300px;
    font-size: 50px;
    }
    h3{
    position: absolute;
    left: 150px;
    top: 400px;
    font-size: 35px;
    }
    
    img{
    	position: absolute;
    	right: 200px;
    	bottom: 50px;
    }

    </style>

</head>

<body>

<a href="http://127.0.0.1:8000/" class="fa fa-home" style="font-size: 50px;"></a>
<!-- <i class="fa fa-home" style="font-size:48px;color:red;"></i> -->

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="http://127.0.0.1:8000/second/">美食</a>
  <a href="http://127.0.0.1:8000/templates/">節慶</a>
  <a href="http://127.0.0.1:8000/attractions/">景點</a>
</div>

<div id="main">
  <div id="DIV_menu">
    <span style="font-size:40px; cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</div>

{% for post in post_list %}
    <h1>{{ post.title }}</h1>
    <h2>一場奇幻之旅</h2>
    <h3>{{ post.content }}</h3>
{% endfor %}

<img src="{%static 'blog/images/a3.png'%}" alt="" width="450" heigh="450">

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "500px";
    // document.getElementById("main").style.marginRight = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    // document.getElementById("main").style.marginRight= "0";
    document.body.style.backgroundColor = "white";
}
</script>

</body>
</html>